<%- include("_header") -%>

<h1>Baron's Car Quiz</h1>
<h2>Find Cars:</h2>

<form action ="/" method="POST">
    <p>
        <label for="carvin">carvin </label> <input type="number" name="carvin" id="carvin" required> <label for="carvin"> (equals)</label>
    </p>
    <p>
        <label for="carmake">carmake</label> <input type="text" name="carmake" id="carmake" required> <label for="carmake"> (begins with)</label>
    </p>
    <p>
        <label for="carmodel">carmodel</label> <input type="text" name="carmodel" id="carmodel" required> <label for="carmodel"> (begins with)</label>
    </p>
    <p>
        <label for="carmileage">carmileage</label> <input type="number" name="carmileage" id="carmileage"> <label for="carvin"> (less than or equal to)</label>
    </p>
    <input type="submit" value="Find">
    <input type="reset" value="Reset">
</form>
<p id="result"></p>

<h4>Total number of records in the database: <%= totRecs %></h4>





<script>
// document.addEventListener('DOMContentLoaded', () => {

 //  document.querySelector('form').addEventListener('submit', event => {
  //  event.preventDefault()
  //  var formData = new FormData(document.querySelector('form'));
    
    // This was to test multiple ways to get form data 
    // console.log(formData.get('carvin')); , this one gets the entered carvin and prints it to console, trying to take this data and set it as a search parameter for a database query
    

//  })
  
//})

//</script>


<!-- Omitted Error Checking / Needs to be added -->
<% if (type === "post") { %>
    <% if (result.result.length === 0) { %>
        <h3>No records found!</h3>
    <% } else { %>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Desc</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                <% result.result.forEach(car => { %> 
                    <tr>
                        <td><%= car.carvin %></td>
                        <td><%= car.carmake %></td>
                        <td><%= car.carmodel %></td>
                        <td><%= car.carmileage %></td>
                    </tr>
                <% }); %>
            </tbody>

        </table>
    <% } %>
<% } %>

<%- include("_footer") -%>